header,
footer {
	padding-left: 300px;
}
@media only screen and (max-width: 992px) {
	header,
	main,
	footer {
		padding-left: 0px;
	}
}
nav {
	z-index: 1 !important;
	overflow: hidden;
	position: fixed;
	top: 0px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}
.brand-logo {
	margin-left: 20px;
}
.main {
	height: 99%;
	padding-left: 300px;
	width: 100%;
	padding-top: 65px;
	z-index: -1;
}
.side-nav {
	padding-top: 65px;
	width: 300px;
	z-index: 0 !important;
}
